[package]
name = "bevy_egui"
version = "0.12.1"
authors = ["mvlabat <mvlabat@gmail.com>"]
description = "A plugin for Egui integration into Bevy"
license = "MIT"
edition = "2021"
repository = "https://github.com/mvlabat/bevy_egui"
exclude = ["assets/**/*", ".github/**/*"]

[package.metadata.docs.rs]
all-features = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[features]
default = ["manage_clipboard", "open_url"]
manage_clipboard = ["arboard", "thread_local"]
multi_threaded = ["egui/multi_threaded"]
open_url = ["webbrowser"]

[dependencies]
bevy = { version = "0.7", default-features = false, features = [
    "bevy_render",
    "bevy_winit",
    "bevy_core_pipeline"
] }
egui = { version = "0.17", features = ["convert_bytemuck"] }
webbrowser = { version = "0.5.5", optional = true }
winit = { version = "0.26.0", features = ["x11"], default-features = false }
bytemuck = { version = "1.7.0", features = ["derive"] }
wgpu = "0.12.0"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
arboard = { version = "2.0.1", optional = true }
thread_local = { version = "1.1.0", optional = true }

[dev-dependencies]
bevy = "0.7"
once_cell = "1.9.0"
version-sync = "0.9.2"
